Reception03hosp45_ЩДВ/Service References/DopService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ComUpdOrd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DatDocMdb" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DatDocTab" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DatDocKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DatDocIdn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DatDocRek" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DatDocVal" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ComUpdOrdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ComUpdOrdResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopInsKltOpl001">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BUXMDB" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BUXFRM" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopInsKltOpl001Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DopInsKltOpl001Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopInsKltOpl002">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BUXMDB" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BUXFRM" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTOPLIDN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTOPLDOC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTOPLREF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTOPLNUM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OPLDATVIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OPLDATREG" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTOPLREG" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTOPLLPU" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTOPLUSL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OPLDAT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTOPLKRT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTOPLKRTFAM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTOPLFAM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTOPLIMA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTOPLFRM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTOPLLIM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTOPLVAL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTOPLNAKSUM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTOPLSSS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTOPLLGT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTOPLSUM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTOPLRSX" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTOPLSUMDOL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTOPLSUMEUR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTOPLDNI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTOPLNOZ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTOPLDIG" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTOPLLCH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTOPLMEM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTOPLCNTTXT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTOPLCNT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OPLCNTBEG" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OPLCNTEND" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTOPLNAP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopInsKltOpl002Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DopInsKltOpl002Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopInsKltOpl003">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BUXMDB" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BUXFRM" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="LstBegIdn" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="LstEndIdn" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="KolIdn" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopInsKltOpl003Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DopInsKltOpl003Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopRcpDocGrfTim">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BUXMDB" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BUXFRM" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopRcpDocGrfTimResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DopRcpDocGrfTimResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopStuTabMaxIdn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BUXMDB" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BUXFRM" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="BUXTAB" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopStuTabMaxIdnResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DopStuTabMaxIdnResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopStuStt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BUXMDB" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BUXFRM" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="STTFRM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STTIDN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STTKOD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STTGOD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STTMES" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STTKDR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STTOC1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STTNCH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STTOPL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STTOC2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STTBEG" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STTEND" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STTPRX" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopStuSttResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DopStuSttResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopStuOpl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BUXMDB" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BUXFRM" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="OPLIDN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OPLSTT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OPLTAB" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OPLNUM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OPLDAT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OPLSUMKAZ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OPLBNK" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OPLTIM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OPLMEM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OPLGOD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OPLMES" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopStuOplResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DopStuOplResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopStuKdr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BUXMDB" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BUXFRM" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="KOD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KDRFAM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KDRIMA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KDROTC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KDRRNN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KDRFILCHT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopStuKdrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DopStuKdrResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopStuSttUpd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BUXMDB" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BUXFRM" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="STTIDN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STTKDR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STTOC1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STTNCH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STTOPL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STTOC2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopStuSttUpdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DopStuSttUpdResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopStuFin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BUXMDB" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BUXFRM" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="BUXTAB" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LstBegIdn" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="LstEndIdn" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="KolIdn" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopStuFinResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DopStuFinResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopHspRpn001">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BUXMDB" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUXFRM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUXIIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUXFIO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUXBRT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUXSEX" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUXSTT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopHspRpn001Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DopHspRpn001Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopHspRpn002">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BUXMDB" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTIDN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTTEL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTALR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTADRPNK" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTADRSTR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTADRDOM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTADRAPR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTADRETG" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTADRDMF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTADRUGL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTADRPOD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTEML" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTRABNAM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KLTRABDOL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopHspRpn002Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DopHspRpn002Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopHspAis">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BUXFRM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUXIIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUXIINBEG" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUXIINEND" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUXDATBEG" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUXDATEND" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopHspAisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DopHspAisResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopHspAisKdu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BUXFRM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUXIIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUXIINBEG" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUXIINEND" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUXDATBEG" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUXDATEND" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopHspAisKduResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DopHspAisKduResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopHspScr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BUXFRM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUXIIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUXDATBEG" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUXDATEND" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopHspScrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DopHspScrResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopHspApp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BUXFRM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUXDAT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUXIDN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopHspAppResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DopHspAppResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveResearchDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientIIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DateTimeOfResearch" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NameOfResearch" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DocBinaryArray" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveResearchDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveResearchDocumentResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResearchDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientIIN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResearchDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResearchDocumentResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentIIN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientIIN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentIINResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDocumentIINResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStudIIN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StudIIN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStudIINResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStudIINResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStudFIO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StudFam" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StudIma" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StudOtc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StudBrt" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStudFIOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStudFIOResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopHspRdb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BUXFRM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUXIIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUXCND" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopHspRdbResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DopHspRdbResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopHspExpApp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BUXFRM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUXOPT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUXDATBEG" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUXDATEND" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopHspExpAppResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DopHspExpAppResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopServiceRPN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BUXFRM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUXIIN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DopServiceRPNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DopServiceRPNResult" type="tns:TaskOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TaskOfString">
        <s:complexContent mixed="false">
          <s:extension base="tns:Task" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Task" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ComUpdOrdSoapIn">
    <wsdl:part name="parameters" element="tns:ComUpdOrd" />
  </wsdl:message>
  <wsdl:message name="ComUpdOrdSoapOut">
    <wsdl:part name="parameters" element="tns:ComUpdOrdResponse" />
  </wsdl:message>
  <wsdl:message name="DopInsKltOpl001SoapIn">
    <wsdl:part name="parameters" element="tns:DopInsKltOpl001" />
  </wsdl:message>
  <wsdl:message name="DopInsKltOpl001SoapOut">
    <wsdl:part name="parameters" element="tns:DopInsKltOpl001Response" />
  </wsdl:message>
  <wsdl:message name="DopInsKltOpl002SoapIn">
    <wsdl:part name="parameters" element="tns:DopInsKltOpl002" />
  </wsdl:message>
  <wsdl:message name="DopInsKltOpl002SoapOut">
    <wsdl:part name="parameters" element="tns:DopInsKltOpl002Response" />
  </wsdl:message>
  <wsdl:message name="DopInsKltOpl003SoapIn">
    <wsdl:part name="parameters" element="tns:DopInsKltOpl003" />
  </wsdl:message>
  <wsdl:message name="DopInsKltOpl003SoapOut">
    <wsdl:part name="parameters" element="tns:DopInsKltOpl003Response" />
  </wsdl:message>
  <wsdl:message name="DopRcpDocGrfTimSoapIn">
    <wsdl:part name="parameters" element="tns:DopRcpDocGrfTim" />
  </wsdl:message>
  <wsdl:message name="DopRcpDocGrfTimSoapOut">
    <wsdl:part name="parameters" element="tns:DopRcpDocGrfTimResponse" />
  </wsdl:message>
  <wsdl:message name="DopStuTabMaxIdnSoapIn">
    <wsdl:part name="parameters" element="tns:DopStuTabMaxIdn" />
  </wsdl:message>
  <wsdl:message name="DopStuTabMaxIdnSoapOut">
    <wsdl:part name="parameters" element="tns:DopStuTabMaxIdnResponse" />
  </wsdl:message>
  <wsdl:message name="DopStuSttSoapIn">
    <wsdl:part name="parameters" element="tns:DopStuStt" />
  </wsdl:message>
  <wsdl:message name="DopStuSttSoapOut">
    <wsdl:part name="parameters" element="tns:DopStuSttResponse" />
  </wsdl:message>
  <wsdl:message name="DopStuOplSoapIn">
    <wsdl:part name="parameters" element="tns:DopStuOpl" />
  </wsdl:message>
  <wsdl:message name="DopStuOplSoapOut">
    <wsdl:part name="parameters" element="tns:DopStuOplResponse" />
  </wsdl:message>
  <wsdl:message name="DopStuKdrSoapIn">
    <wsdl:part name="parameters" element="tns:DopStuKdr" />
  </wsdl:message>
  <wsdl:message name="DopStuKdrSoapOut">
    <wsdl:part name="parameters" element="tns:DopStuKdrResponse" />
  </wsdl:message>
  <wsdl:message name="DopStuSttUpdSoapIn">
    <wsdl:part name="parameters" element="tns:DopStuSttUpd" />
  </wsdl:message>
  <wsdl:message name="DopStuSttUpdSoapOut">
    <wsdl:part name="parameters" element="tns:DopStuSttUpdResponse" />
  </wsdl:message>
  <wsdl:message name="DopStuFinSoapIn">
    <wsdl:part name="parameters" element="tns:DopStuFin" />
  </wsdl:message>
  <wsdl:message name="DopStuFinSoapOut">
    <wsdl:part name="parameters" element="tns:DopStuFinResponse" />
  </wsdl:message>
  <wsdl:message name="DopHspRpn001SoapIn">
    <wsdl:part name="parameters" element="tns:DopHspRpn001" />
  </wsdl:message>
  <wsdl:message name="DopHspRpn001SoapOut">
    <wsdl:part name="parameters" element="tns:DopHspRpn001Response" />
  </wsdl:message>
  <wsdl:message name="DopHspRpn002SoapIn">
    <wsdl:part name="parameters" element="tns:DopHspRpn002" />
  </wsdl:message>
  <wsdl:message name="DopHspRpn002SoapOut">
    <wsdl:part name="parameters" element="tns:DopHspRpn002Response" />
  </wsdl:message>
  <wsdl:message name="DopHspAisSoapIn">
    <wsdl:part name="parameters" element="tns:DopHspAis" />
  </wsdl:message>
  <wsdl:message name="DopHspAisSoapOut">
    <wsdl:part name="parameters" element="tns:DopHspAisResponse" />
  </wsdl:message>
  <wsdl:message name="DopHspAisKduSoapIn">
    <wsdl:part name="parameters" element="tns:DopHspAisKdu" />
  </wsdl:message>
  <wsdl:message name="DopHspAisKduSoapOut">
    <wsdl:part name="parameters" element="tns:DopHspAisKduResponse" />
  </wsdl:message>
  <wsdl:message name="DopHspScrSoapIn">
    <wsdl:part name="parameters" element="tns:DopHspScr" />
  </wsdl:message>
  <wsdl:message name="DopHspScrSoapOut">
    <wsdl:part name="parameters" element="tns:DopHspScrResponse" />
  </wsdl:message>
  <wsdl:message name="DopHspAppSoapIn">
    <wsdl:part name="parameters" element="tns:DopHspApp" />
  </wsdl:message>
  <wsdl:message name="DopHspAppSoapOut">
    <wsdl:part name="parameters" element="tns:DopHspAppResponse" />
  </wsdl:message>
  <wsdl:message name="SaveResearchDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:SaveResearchDocument" />
  </wsdl:message>
  <wsdl:message name="SaveResearchDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:SaveResearchDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="GetResearchDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:GetResearchDocument" />
  </wsdl:message>
  <wsdl:message name="GetResearchDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:GetResearchDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentIINSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocumentIIN" />
  </wsdl:message>
  <wsdl:message name="GetDocumentIINSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentIINResponse" />
  </wsdl:message>
  <wsdl:message name="GetStudIINSoapIn">
    <wsdl:part name="parameters" element="tns:GetStudIIN" />
  </wsdl:message>
  <wsdl:message name="GetStudIINSoapOut">
    <wsdl:part name="parameters" element="tns:GetStudIINResponse" />
  </wsdl:message>
  <wsdl:message name="GetStudFIOSoapIn">
    <wsdl:part name="parameters" element="tns:GetStudFIO" />
  </wsdl:message>
  <wsdl:message name="GetStudFIOSoapOut">
    <wsdl:part name="parameters" element="tns:GetStudFIOResponse" />
  </wsdl:message>
  <wsdl:message name="DopHspRdbSoapIn">
    <wsdl:part name="parameters" element="tns:DopHspRdb" />
  </wsdl:message>
  <wsdl:message name="DopHspRdbSoapOut">
    <wsdl:part name="parameters" element="tns:DopHspRdbResponse" />
  </wsdl:message>
  <wsdl:message name="DopHspExpAppSoapIn">
    <wsdl:part name="parameters" element="tns:DopHspExpApp" />
  </wsdl:message>
  <wsdl:message name="DopHspExpAppSoapOut">
    <wsdl:part name="parameters" element="tns:DopHspExpAppResponse" />
  </wsdl:message>
  <wsdl:message name="DopServiceRPNSoapIn">
    <wsdl:part name="parameters" element="tns:DopServiceRPN" />
  </wsdl:message>
  <wsdl:message name="DopServiceRPNSoapOut">
    <wsdl:part name="parameters" element="tns:DopServiceRPNResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="ComUpdOrd">
      <wsdl:input message="tns:ComUpdOrdSoapIn" />
      <wsdl:output message="tns:ComUpdOrdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DopInsKltOpl001">
      <wsdl:input message="tns:DopInsKltOpl001SoapIn" />
      <wsdl:output message="tns:DopInsKltOpl001SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DopInsKltOpl002">
      <wsdl:input message="tns:DopInsKltOpl002SoapIn" />
      <wsdl:output message="tns:DopInsKltOpl002SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DopInsKltOpl003">
      <wsdl:input message="tns:DopInsKltOpl003SoapIn" />
      <wsdl:output message="tns:DopInsKltOpl003SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DopRcpDocGrfTim">
      <wsdl:input message="tns:DopRcpDocGrfTimSoapIn" />
      <wsdl:output message="tns:DopRcpDocGrfTimSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DopStuTabMaxIdn">
      <wsdl:input message="tns:DopStuTabMaxIdnSoapIn" />
      <wsdl:output message="tns:DopStuTabMaxIdnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DopStuStt">
      <wsdl:input message="tns:DopStuSttSoapIn" />
      <wsdl:output message="tns:DopStuSttSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DopStuOpl">
      <wsdl:input message="tns:DopStuOplSoapIn" />
      <wsdl:output message="tns:DopStuOplSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DopStuKdr">
      <wsdl:input message="tns:DopStuKdrSoapIn" />
      <wsdl:output message="tns:DopStuKdrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DopStuSttUpd">
      <wsdl:input message="tns:DopStuSttUpdSoapIn" />
      <wsdl:output message="tns:DopStuSttUpdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DopStuFin">
      <wsdl:input message="tns:DopStuFinSoapIn" />
      <wsdl:output message="tns:DopStuFinSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DopHspRpn001">
      <wsdl:input message="tns:DopHspRpn001SoapIn" />
      <wsdl:output message="tns:DopHspRpn001SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DopHspRpn002">
      <wsdl:input message="tns:DopHspRpn002SoapIn" />
      <wsdl:output message="tns:DopHspRpn002SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DopHspAis">
      <wsdl:input message="tns:DopHspAisSoapIn" />
      <wsdl:output message="tns:DopHspAisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DopHspAisKdu">
      <wsdl:input message="tns:DopHspAisKduSoapIn" />
      <wsdl:output message="tns:DopHspAisKduSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DopHspScr">
      <wsdl:input message="tns:DopHspScrSoapIn" />
      <wsdl:output message="tns:DopHspScrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DopHspApp">
      <wsdl:input message="tns:DopHspAppSoapIn" />
      <wsdl:output message="tns:DopHspAppSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveResearchDocument">
      <wsdl:input message="tns:SaveResearchDocumentSoapIn" />
      <wsdl:output message="tns:SaveResearchDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetResearchDocument">
      <wsdl:input message="tns:GetResearchDocumentSoapIn" />
      <wsdl:output message="tns:GetResearchDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentIIN">
      <wsdl:input message="tns:GetDocumentIINSoapIn" />
      <wsdl:output message="tns:GetDocumentIINSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStudIIN">
      <wsdl:input message="tns:GetStudIINSoapIn" />
      <wsdl:output message="tns:GetStudIINSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStudFIO">
      <wsdl:input message="tns:GetStudFIOSoapIn" />
      <wsdl:output message="tns:GetStudFIOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DopHspRdb">
      <wsdl:input message="tns:DopHspRdbSoapIn" />
      <wsdl:output message="tns:DopHspRdbSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DopHspExpApp">
      <wsdl:input message="tns:DopHspExpAppSoapIn" />
      <wsdl:output message="tns:DopHspExpAppSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DopServiceRPN">
      <wsdl:input message="tns:DopServiceRPNSoapIn" />
      <wsdl:output message="tns:DopServiceRPNSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ComUpdOrd">
      <soap:operation soapAction="http://tempuri.org/ComUpdOrd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopInsKltOpl001">
      <soap:operation soapAction="http://tempuri.org/DopInsKltOpl001" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopInsKltOpl002">
      <soap:operation soapAction="http://tempuri.org/DopInsKltOpl002" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopInsKltOpl003">
      <soap:operation soapAction="http://tempuri.org/DopInsKltOpl003" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopRcpDocGrfTim">
      <soap:operation soapAction="http://tempuri.org/DopRcpDocGrfTim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopStuTabMaxIdn">
      <soap:operation soapAction="http://tempuri.org/DopStuTabMaxIdn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopStuStt">
      <soap:operation soapAction="http://tempuri.org/DopStuStt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopStuOpl">
      <soap:operation soapAction="http://tempuri.org/DopStuOpl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopStuKdr">
      <soap:operation soapAction="http://tempuri.org/DopStuKdr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopStuSttUpd">
      <soap:operation soapAction="http://tempuri.org/DopStuSttUpd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopStuFin">
      <soap:operation soapAction="http://tempuri.org/DopStuFin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopHspRpn001">
      <soap:operation soapAction="http://tempuri.org/DopHspRpn001" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopHspRpn002">
      <soap:operation soapAction="http://tempuri.org/DopHspRpn002" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopHspAis">
      <soap:operation soapAction="http://tempuri.org/DopHspAis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopHspAisKdu">
      <soap:operation soapAction="http://tempuri.org/DopHspAisKdu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopHspScr">
      <soap:operation soapAction="http://tempuri.org/DopHspScr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopHspApp">
      <soap:operation soapAction="http://tempuri.org/DopHspApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveResearchDocument">
      <soap:operation soapAction="http://tempuri.org/SaveResearchDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResearchDocument">
      <soap:operation soapAction="http://tempuri.org/GetResearchDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentIIN">
      <soap:operation soapAction="http://tempuri.org/GetDocumentIIN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudIIN">
      <soap:operation soapAction="http://tempuri.org/GetStudIIN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudFIO">
      <soap:operation soapAction="http://tempuri.org/GetStudFIO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopHspRdb">
      <soap:operation soapAction="http://tempuri.org/DopHspRdb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopHspExpApp">
      <soap:operation soapAction="http://tempuri.org/DopHspExpApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopServiceRPN">
      <soap:operation soapAction="http://tempuri.org/DopServiceRPN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ComUpdOrd">
      <soap12:operation soapAction="http://tempuri.org/ComUpdOrd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopInsKltOpl001">
      <soap12:operation soapAction="http://tempuri.org/DopInsKltOpl001" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopInsKltOpl002">
      <soap12:operation soapAction="http://tempuri.org/DopInsKltOpl002" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopInsKltOpl003">
      <soap12:operation soapAction="http://tempuri.org/DopInsKltOpl003" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopRcpDocGrfTim">
      <soap12:operation soapAction="http://tempuri.org/DopRcpDocGrfTim" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopStuTabMaxIdn">
      <soap12:operation soapAction="http://tempuri.org/DopStuTabMaxIdn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopStuStt">
      <soap12:operation soapAction="http://tempuri.org/DopStuStt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopStuOpl">
      <soap12:operation soapAction="http://tempuri.org/DopStuOpl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopStuKdr">
      <soap12:operation soapAction="http://tempuri.org/DopStuKdr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopStuSttUpd">
      <soap12:operation soapAction="http://tempuri.org/DopStuSttUpd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopStuFin">
      <soap12:operation soapAction="http://tempuri.org/DopStuFin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopHspRpn001">
      <soap12:operation soapAction="http://tempuri.org/DopHspRpn001" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopHspRpn002">
      <soap12:operation soapAction="http://tempuri.org/DopHspRpn002" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopHspAis">
      <soap12:operation soapAction="http://tempuri.org/DopHspAis" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopHspAisKdu">
      <soap12:operation soapAction="http://tempuri.org/DopHspAisKdu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopHspScr">
      <soap12:operation soapAction="http://tempuri.org/DopHspScr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopHspApp">
      <soap12:operation soapAction="http://tempuri.org/DopHspApp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveResearchDocument">
      <soap12:operation soapAction="http://tempuri.org/SaveResearchDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResearchDocument">
      <soap12:operation soapAction="http://tempuri.org/GetResearchDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentIIN">
      <soap12:operation soapAction="http://tempuri.org/GetDocumentIIN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudIIN">
      <soap12:operation soapAction="http://tempuri.org/GetStudIIN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudFIO">
      <soap12:operation soapAction="http://tempuri.org/GetStudFIO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopHspRdb">
      <soap12:operation soapAction="http://tempuri.org/DopHspRdb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopHspExpApp">
      <soap12:operation soapAction="http://tempuri.org/DopHspExpApp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DopServiceRPN">
      <soap12:operation soapAction="http://tempuri.org/DopServiceRPN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://www.dopsrv.reception03.kz/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://www.dopsrv.reception03.kz/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>